{% extends 'home.html' %}
{% load static %}
{% block content %}
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header card">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <i class="icofont icofont-layout bg-c-blue"></i>
                                                    <div class="d-inline">
                                                        <h4>수질과 건강 지표의 상관 관계</h4>
                                                        <span>정수장 수질 정보를 통해 지역사회 건강지표 분석 및 예측</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Material tab card start -->
                                                <div class="card">
                                                    <div class="card-block">
                                                        <!-- Row start -->
                                                        <div class="row m-b-30">
                                                            <div class="col-lg-12">
                                                                <div class="sub-title">Summary</div>
                                                                <!-- Nav tabs -->
                                                                <ul class="nav nav-tabs md-tabs" role="tablist">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" data-toggle="tab" href="#home3" role="tab">개요</a>
                                                                        <div class="slide"></div>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#profile3" role="tab">프로젝트 기획</a>
                                                                        <div class="slide"></div>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#messages3" role="tab">목표</a>
                                                                        <div class="slide"></div>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#settings3" role="tab">데이터</a>
                                                                        <div class="slide"></div>
                                                                    </li>
                                                                </ul>
                                                                <!-- Tab panes -->
                                                                <div class="tab-content card-block">
                                                                    <div class="tab-pane active" id="home3" role="tabpanel">
                                                                        <p class="m-0">지역별 상수도 수질 데이터와 지역사회 건강결과 데이터를 활용하여 일상 용수가 국민 건강에 미치는 영향을 분석한다. 또한 모델을 활용하여 수질 정보로서 건강 지표를 예측할 수 있는 방안을 모색한다.</p>
                                                                    </div>
                                                                    <div class="tab-pane" id="profile3" role="tabpanel">
                                                                        <p class="m-0"> <b>1. 데이터 준비 </b><br>
                                                                                        1)	독립변수 : 20여개의 수질 평가지표 <br>
                                                                                        2)	종속변수 : 지역사회 건강결정요인 <br>
                                                                                        <br>
                                                                                        <b>2. 전처리 </b><br>
                                                                                        1)	Pandas를 활용하여 전처리 수행 <br>
                                                                                        2)	정수장을 지역별로 분류 <br>
                                                                                        3)	지역별 평균 수질 산출 <br>
                                                                                        4)	지역별 건강 지표 산출 <br>
                                                                                        <br>
                                                                                        <b>3. 분석 </b><br>
                                                                                        1)	Pandas을 활용하여 분석 수행 <br>
                                                                                        2)	sklearn패키지를 활용하여 다중회귀분석 실행 <br>
                                                                                        <br>
                                                                                        <b>4. 시각화 </b><br>
                                                                                        1)	python에서 matplotlib과 highcharts를 활용하여 그래프 작성 <br>
                                                                                        2)	Django를 활용하여 웹 서버에 분석 결과 표시 <br>
                                                                                        <br>
                                                                                        <b>5. 협업 도구 </b><br>
                                                                                        1)	Zoom 회의와 카카오톡 그룹채팅을 통한 회의 및 자료 공유 <br>
                                                                                        2)	Git을 통한 분업 자료 공유 <br>
                                                                                        </p>
                                                                    </div>
                                                                    <div class="tab-pane" id="messages3" role="tabpanel">
                                                                        <p class="m-0">Real-world raw data를 활용하여 정형 데이터를 목적에 맞게 전처리 후 활용하는 방법을 익히며, 주제에 맞는 데이터 분석, 시각화 방법을 결정할 수 있도록 한다.</p>
                                                                    </div>
                                                                    <div class="tab-pane" id="settings3" role="tabpanel">
                                                                        <p class="m-0"><b>1. 환경부 K-water 국가상수도정보시스템 상수도 정보 공개자료</b><br>
                                                                                       <a href="https://www.waternow.go.kr/web/lawData?pMENUID=4">https://www.waternow.go.kr/web/lawData?pMENUID=4</a><br>
                                                                                       <br>
                                                                                       <b>2. 질병관리청 지역사회 건강조사 - 지역사회 건강관리 요인 데이터베이스</b><br>
                                                                                       <a href="https://chs.kdca.go.kr/chs/recsRoom/dataBaseMain.do">https://chs.kdca.go.kr/chs/recsRoom/dataBaseMain.do</a>

                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Row end -->
                                                    </div>
                                                </div>
                                                <!-- Material tab card end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page body end -->
                                </div>
                            </div>
                            <!-- Main-body end -->

                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'assets/js/modernizr/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/modernizr/css-scrollbars.js' %}"></script>
<!-- classie js -->
<script type="text/javascript" src="{% static 'assets/js/classie/classie.js' %}"></script>
<!-- Custom js -->
<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'assets/js/demo-12.js' %}"></script>
</body>

</html>
{% endblock %}